/* 3-й спосіб підключення шрифтів
@font-face {
    font-family: 'Caladea'; 
    src: url('../fonts/Caladea/Caladea-Bold.ttf') format('woff2'), 
         url('../fonts/Caladea/Caladea-BoldItalic.ttf') format('woff'),
         url('../fonts/Caladea/') format('truetype'); 
    font-weight: normal;
    font-style: normal;
} */

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #080303;
    --link-color: #fff;
    --buttons-bacground: #4175ef;
    --button-border-color: #080303;
}

body {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
}

a,
button {
    font-family: inherit;
    color: inherit;
}

.container {
    width: 1343px;
    padding: 0px 12px;
    outline: solid green;
    margin-left: auto;
    margin-right: auto;
}

/* Загальні стилі */
.section-title {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;

}

.link {
    font-weight: 400;
    line-height: 150%;

}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.hint {
    line-height: 150%;
}

.subtitle {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
}

/* секція хедер */
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 9px 0px;
    backdrop-filter: blur(10px);
    background-color: #ffffff6f;
    width: 100%;
    box-shadow: 3px 15px 40px 3px;
}

.heder-note {
    display: flex;
    align-items: center;
}

.header-svg {
    width: 61px;
    height: 41px;

}

.header-container {
    display: flex;
    height: 72px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
}

/* секція hero */
.hero {
    padding: 112px 0px;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    font-family: "Poppins";
}

.hero-order {
    color: var(--link-color);
}

.hero-order:hover {
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
    background-color: transparent;
}

.hero-box {

    display: flex;
}

.hero-subbox {
    width: 640px;
    margin-left: 40px;
    flex-shrink: 0;
}

.hero-text {
    margin-bottom: 32px;
    font-family: "Caladea";
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-item a {
    padding: 12px 24px;
    border-radius: 6px;
}

.hero-learn {
    border: 1px solid var(--button-border-color);
}

.hero-learn:hover {
    color: var(--link-color);
    background-color: var(--buttons-bacground);
    border: none;
}

.hero-photo {
    margin-top: 40px;
}

/* секція accomplishments */

.accomplishments {
    padding: 112px 0px;
}

.accomplishments-container {
    display: flex;
}

.accomplishments-box {
    margin-right: 32px;
}

/* .accomplishments-logo {
    margin-bottom: 24px;
    width: 48px;
    height: 48px;
} */

.accomplishments-svg {
    margin-bottom: 24px;
    width: 48px;
    height: 48px;
}

.accomplishments-title {
    font-size: 40px;
    font-family: "Poppins";
    margin-bottom: 24px;
}

/* секція innovative */
.innovative {
    padding-top: 112px;
    padding-bottom: 112px;
}

.innovative-subtitle {
    margin-bottom: 16px;

}


.innovative-title {
    text-align: center;
    font-family: "Poppins";
}

.innovative-text {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
}

.innovative-item {
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    background-color: #D9E3FB;
}

.innovative-item:nth-child(1) {
    align-items: center;
    flex-direction: row;
}

.innovative-card {
    display: flex;
    gap: 32px;
    justify-content: center;

}

.innovative-info {
    margin-bottom: 8px;
}

.innovative-subtitle {
    margin-bottom: 8px;
    text-align: center;
}

.innovative-box,
.innovative-boxes {
    padding: 24px;
}



/* секція precision */

.precision {
    padding-bottom: 112px;
}

.precision-container {
    display: flex;
    gap: 32px;
}

.precision-list {
    display: flex;
    gap: 24px;
}

.precision-subtitle {
    margin: 41px 0px 19px;
}

.precision-title {
    margin-bottom: 24px;
    font-family: 'Poppins';
}

.precision-text {
    margin-bottom: 32px;
}


.precision-name {
    font-size: 20px;
    margin-bottom: 16px;
    font-family: 'Poppins';
}

.precision-info {
    max-width: 308px;
}

/* секція gallary */

.gallary {
    padding: 112px 0px 112px;
}

.gallary-title {
    text-align: center;
    font-family: 'Poppins';
}

.gallary-text {
    text-align: center;
    margin: 24px 0px 80px;
}

.gallary-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.gllary-box {
    display: flex;
    gap: 32px;
}

.gallary-images {
    width: 304px;
    height: 304px;
}

.gallary-img {
    width: 640px;
    height: 640px;
}

/* секція clients */

.clients {
    padding: 112px 0px;
}

.clients-comment {
    outline: solid green;
}

.clients-title {
    font-family: 'Poppins';
    margin-bottom: 24px;
}

.clients-text {
    margin-bottom: 80px;
}

.clients-subtitle {}

.clients-comment {}

.clients-stars {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
    fill: #4175ef;
}

.clients-svg {
    width: 20px;
    height: 19px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.clients-comment:nth-child(1) .clients-item:last-child .clients-svg,
.clients-comment:nth-child(4) .clients-item:last-child .clients-svg,
.clients-comment:last-child .clients-item:last-child .clients-svg {
    fill: none;
    stroke: #4175ef;
    stroke-width: 2px;
}

.clients-subtext {
    max-width: 416px;
    margin-bottom: 59px;
}

/* секція cost */

.cost {
    padding: 80px 0px 161px;
}

.cost-container {
    display: flex;
    gap: 32px;
}

.cost-title {
    font-size: 40px;
    font-family: 'Poppins';
    margin-bottom: 24px;
}

.cost-subtitle {
    font-family: 'Poppins';
    margin-bottom: 24px;
}

.cost-button,
.hero-order {
    color: var(--link-color);
    background-color: var(--buttons-bacground);
}

.cost-text {
    margin-bottom: 16px;
}

.cost-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.cost-button {
    padding: 12px 125px;
    border-radius: 6px;
    border: none;
}

.cost-button:hover {
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
    background-color: transparent;
}

.cost-subtext {}

/* секція footer */
.footer {
    background-color: #7a9ef3;
    padding: 80px 0px;
}

.footer-box {
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer-list {
    display: flex;
    gap: 32px;
    margin-left: auto;
}

.footer-messengers {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.footer-svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.footer-img {
    max-width: 301px;
}

.footer-logo {
    width: 301px;
    height: 129px;
    fill: #FEFEFE;
}

.footer-link {
    color: var(--link-color);
}

.footer-text {
    color: #fff;
    text-align: center;
    margin-top: 56px;
    font-size: 14px;

}

.footer-line {
    outline: 1px solid #fff;
    margin-top: 24px;
}

.scroll {
    border-radius: 50%;
    background-color: #4175ef;
    width: 100px;
    height: 100px;
    display: block;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;

}